# Twilio Configuration
TWILIO_ACCOUNT_SID=AC447f6c84703c1683a8cadfa1216b17cd
TWILIO_AUTH_TOKEN=609136b3e791f2f5b600aab966abfa41
TWILIO_PHONE_NUMBER=whatsapp:+14155238886

# Server Configuration
PORT=3000
TZ=Asia/Jakarta
